<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Membuat BacKground di html</title>
    <style>
        body{
            background-color: rgb(238, 222, 153);
            font-style: normal;
        }
    </style>
</head>
<body>

{% extends 'base.html' %}

{% block judul %}
<h1 id="judul">MENU KERANGKA</h1>

{% endblock judul %}

{% block kotak %}

<p>CULINARY ONLINE INI MENYEDIAKAN BERBAGAI MENU YANG BISA ANDA NIKMATI   </p>

{% endblock kotak %}
