<!DOCTYPE html>
<html>
<head>
    <title>Membuat BacKground di html</title>
    <style>
        body{
            background-color: rgb(182, 202, 150);
            font-style: normal;
        }
    </style>
</head>
<body>
{% extends 'base.html' %}

{% block kotak %}

<h1> HALO GUYS</h1> 
    <h1>BERIKUT MENU YANG DI ADA CULINARY ONLINE</h1>

<table border="1">
    <tr>
        <td>NO</td>
        <td>NAMA MENU</td>
        <td>HARGA</td>
    </tr>
    <tr>
        <td>1</td>
        <td>SOTO MADURA</td>
        <td>Rp.20.000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>SATE MADURA</td>
        <td>Rp.100.000</td>
    </tr>
    <tr>
        <td>3</td>
        <td>NASI GORENG</td>
        <td>Rp.30.000</td>
    </tr>
    <tr>
        <td>4</td>
        <td>NASI KUCING</td>
        <td>Rp.35.000</td>
    </tr>



{% endblock kotak %}              