<!DOCTYPE html>
<html>
<head>
    <title>Membuat BacKground di html</title>
    <style>
        body{
            background-color: rgb(208, 211, 167);
            font-style: normal;
        }
    </style>
</head>
<body>
    
</body>
</html>{% extends 'base.html' %}

{% block judul %}
<h1 id="judul">Menu</h1>

{% endblock judul %}

{% block kotak %}

<p>Culinary online menyediakan beberapa menu yang bisa anda nikmati, kuliner adalah sesuatu yang berkaitan dengan masakan. Jadi, hal-hal apapun yang melibatkan tentang masakan adalah bagian dari kuliner. Misalnya, seni kuliner artinya ilmu dan pengetahuan mengenai masakan, seperti cara dan teknik dalam memasak.

    Pada umumnya, pengertian kuliner adalah suatu proses pembuatan makanan. Hal ini dikuatkan dari kata kuliner dalam bahasa Inggris yaitu culinary. Dalam bahasa Inggris, culinary artinya teknik memasak, mempersiapkan, dan mempresentasikan makanan. Kata kuliner pun diambil dari culinary sesuai dengan PUEBI.  </p>

{% endblock kotak %}