<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
  
    <a href="/menu">Menu</a> | <a href="/menuku">Detil menuku</a> | <a href="/Kerangka">Kerangka</a> 

    {% block judul%}

    {% endblock judul%}
    {% block kotak %}

    {% endblock kotak%}


</body>
</html>